.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.topSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___4Q2Ev {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: -_9hWElktusQ */;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.freeBox___4Q2Ev > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___4Q2Ev > :global(.__wab_flex-container) > *,
.freeBox___4Q2Ev > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4Q2Ev > :global(.__wab_flex-container) > picture > img,
.freeBox___4Q2Ev
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Q2Ev {
    width: 100%;
    height: auto;
    max-width: 1104px /* plasmic-token: -_9hWElktusQ */;
    display: flex;
    position: relative;
    flex-direction: column;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Q2Ev > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4Q2Ev > :global(.__wab_flex-container) > *,
  .freeBox___4Q2Ev > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4Q2Ev > :global(.__wab_flex-container) > picture > img,
  .freeBox___4Q2Ev
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__z4Bg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.freeBox__z4Bg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__z4Bg > :global(.__wab_flex-container) > *,
.freeBox__z4Bg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z4Bg > :global(.__wab_flex-container) > picture > img,
.freeBox__z4Bg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z4Bg {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z4Bg > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z4Bg > :global(.__wab_flex-container) > *,
  .freeBox__z4Bg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__z4Bg > :global(.__wab_flex-container) > picture > img,
  .freeBox__z4Bg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__lCxli {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__iQh5G {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__iQh5G {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  }
}
.text__o1NKb {
  font-size: 96px;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  color: rgba(51, 140, 245, 0);
  background: linear-gradient(
      90deg,
      rgb(51, 140, 245) 0%,
      rgb(79, 209, 197) 100%
    )
    0% 0% / 100% 100% padding-box /* clip: text **/;
  margin-top: 0px;
  padding-bottom: 0px;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__o1NKb {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    line-height: 1;
    color: rgba(51, 140, 245, 0);
    background: linear-gradient(
        90deg,
        rgb(51, 140, 245) 0%,
        rgb(79, 209, 197) 100%
      )
      0% 0% / 100% 100% padding-box /* clip: text **/;
    padding-bottom: 0px;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
.text__lvLYp {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__lvLYp {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
    padding-bottom: 0px;
  }
}
.text__i2Ddb {
  font-size: 20px;
  text-align: center;
  max-width: 768px;
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__i2Ddb {
    font-size: 24px;
    text-align: center;
    max-width: 768px;
    position: relative;
    align-self: center;
    padding-bottom: 0px;
  }
}
.freeBox__sajKs {
  position: relative;
  flex-direction: row;
  display: none;
}
.freeBox__sajKs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__sajKs > :global(.__wab_flex-container) > *,
.freeBox__sajKs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sajKs > :global(.__wab_flex-container) > picture > img,
.freeBox__sajKs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.button___1ShE:global(.__wab_instance) {
  position: relative;
}
.svg__fgPbD {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__vFo1S {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.button__erBc:global(.__wab_instance) {
  position: relative;
}
.svg__nKogN {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___6LkGc {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__hg50H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 1000px;
  min-width: 0;
}
.img__kaKt7 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__kaKt7 > picture > img {
  object-fit: cover;
}
.img__kaKt7 > .__wab_img-spacer > img {
  object-fit: cover;
}
.solutions:global(.__wab_instance) {
  position: relative;
  display: none;
}
.columns {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.column__fdgtj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__fdgtj {
    width: 100%;
  }
}
.freeBox__cLgUs {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__cLgUs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__cLgUs > :global(.__wab_flex-container) > *,
.freeBox__cLgUs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cLgUs > :global(.__wab_flex-container) > picture > img,
.freeBox__cLgUs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cLgUs {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cLgUs > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__xYyGf {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
}
.text__nuePw {
  position: relative;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
}
.featureCard__lPHD:global(.__wab_instance) {
  position: relative;
}
.svg__cUtFo {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__kyj {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__nWa2N:global(.__wab_instance) {
  position: relative;
}
.svg__hgkYv {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__iLdLj {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__qR6Wr:global(.__wab_instance) {
  position: relative;
}
.svg__ca5Wc {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
}
.svg__qcTuh {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.column__wwTks {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wwTks {
    width: 100%;
  }
}
.img__m9K3B {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__m9K3B > picture > img {
  object-fit: cover;
}
.img__m9K3B > .__wab_img-spacer > img {
  object-fit: cover;
}
.howItWorks:global(.__wab_instance) {
  position: relative;
  display: none;
}
.freeBox__fjHaL {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__fjHaL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__fjHaL > :global(.__wab_flex-container) > *,
.freeBox__fjHaL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fjHaL > :global(.__wab_flex-container) > picture > img,
.freeBox__fjHaL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.featureCard__yksoK:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__onGtd {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: P6AIK44GUcUa */;
}
.svg___9UdqF {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__buzLn:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___5S0W6 {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: P6AIK44GUcUa */;
}
.svg__wKsj3 {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__hujb9:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg___9ViLc {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: P6AIK44GUcUa */;
}
.svg___2E0Gp {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__cdAs:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__yxKxy {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: P6AIK44GUcUa */;
}
.svg___6QANu {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__qNysj:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__kXkHf {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: P6AIK44GUcUa */;
}
.svg__sBAt {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.featureCard__fzMcq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__xdR7J {
  position: relative;
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: P6AIK44GUcUa */;
}
.svg__fP8Bz {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
.freeBox__c3TgN {
  display: block;
  position: absolute;
  left: 50%;
  top: auto;
  width: 2px;
  height: 77px;
  bottom: -88px;
  border: 1px solid rgb(234, 234, 234) /* plasmic-token: 8fgRcA8MIWoy */;
}
.validation:global(.__wab_instance) {
  position: relative;
  display: none;
}
.freeBox___6Kou {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox___6Kou > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___6Kou > :global(.__wab_flex-container) > *,
.freeBox___6Kou > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Kou > :global(.__wab_flex-container) > picture > img,
.freeBox___6Kou
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__n7AGr {
  display: flex;
  flex-direction: row;
}
.freeBox__n7AGr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__n7AGr > :global(.__wab_flex-container) > *,
.freeBox__n7AGr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n7AGr > :global(.__wab_flex-container) > picture > img,
.freeBox__n7AGr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
  margin-top: 24px;
}
.svg__b4EXb {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 24px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__swWzK {
  position: relative;
  object-fit: cover;
  width: 83px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__gIw98 {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 39px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__nerzu {
  position: relative;
  object-fit: cover;
  width: 113px;
  height: 30px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.svg__lKcPj {
  position: relative;
  object-fit: cover;
  width: 109px;
  height: 33px;
  color: rgb(150, 153, 158) /* plasmic-token: jBhCqxBbh1U */;
  flex-shrink: 0;
}
.testimonial:global(.__wab_instance) {
  position: relative;
}
.homeCta:global(.__wab_instance) {
  position: relative;
  display: flex;
}
.footer:global(.__wab_instance) {
  position: relative;
  display: none;
}
