.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__x0RYl {
  width: 100%;
  height: auto;
  max-width: 1104px /* plasmic-token: -_9hWElktusQ */;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox__x0RYl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__x0RYl > :global(.__wab_flex-container) > *,
.freeBox__x0RYl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x0RYl > :global(.__wab_flex-container) > picture > img,
.freeBox__x0RYl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__in6Ts {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__in6Ts > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__in6Ts > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__in6Ts > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__in6Ts > :global(.__wab_flex-container) > *,
.columns__in6Ts > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__in6Ts > :global(.__wab_flex-container) > picture > img,
.columns__in6Ts
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__in6Ts {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__in6Ts > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__in6Ts > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__in6Ts > :global(.__wab_flex-container) > *,
  .columns__in6Ts > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__in6Ts > :global(.__wab_flex-container) > picture > img,
  .columns__in6Ts
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__u5Ms {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__u5Ms {
    width: 100%;
  }
}
.freeBox__rrbWg {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__rrbWg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__rrbWg > :global(.__wab_flex-container) > *,
.freeBox__rrbWg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rrbWg > :global(.__wab_flex-container) > picture > img,
.freeBox__rrbWg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rrbWg {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rrbWg > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__mgj1U {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.text__nkvVk {
  position: relative;
  text-align: left;
}
.bullet__hf61H:global(.__wab_instance) {
  position: relative;
}
.bullet__pCyZn:global(.__wab_instance) {
  position: relative;
}
.bullet__uWhdo:global(.__wab_instance) {
  position: relative;
}
.text__eM6Qn {
  position: relative;
  text-align: left;
}
.freeBox__ihHtV {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__ihHtV > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__ihHtV > :global(.__wab_flex-container) > *,
.freeBox__ihHtV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ihHtV > :global(.__wab_flex-container) > picture > img,
.freeBox__ihHtV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ihHtV {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ihHtV > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ihHtV > :global(.__wab_flex-container) > *,
  .freeBox__ihHtV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ihHtV > :global(.__wab_flex-container) > picture > img,
  .freeBox__ihHtV
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__l4O5I:global(.__wab_instance) {
  position: relative;
}
.svg__lx1Ib {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___8PWCj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__fNw6Q:global(.__wab_instance) {
  position: relative;
}
.svg__t4GNr {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__eGaCm {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column___2O48F {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___2O48F {
    width: 100%;
  }
}
.img___8BJl7 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img___8BJl7 > picture > img {
  object-fit: cover;
}
.img___8BJl7 > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__ei7Yy {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__ei7Yy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__ei7Yy > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__ei7Yy > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 32px) * 6 / 12);
}
.columns__ei7Yy > :global(.__wab_flex-container) > *,
.columns__ei7Yy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ei7Yy > :global(.__wab_flex-container) > picture > img,
.columns__ei7Yy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ei7Yy {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ei7Yy > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ei7Yy > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ei7Yy > :global(.__wab_flex-container) > *,
  .columns__ei7Yy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ei7Yy > :global(.__wab_flex-container) > picture > img,
  .columns__ei7Yy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
.column__v91HM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__v91HM {
    width: 100%;
  }
}
.img__vdss6 {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__vdss6 > picture > img {
  object-fit: cover;
}
.img__vdss6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___4EtlQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___4EtlQ {
    width: 100%;
  }
}
.freeBox__bv8ID {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__bv8ID > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__bv8ID > :global(.__wab_flex-container) > *,
.freeBox__bv8ID > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bv8ID > :global(.__wab_flex-container) > picture > img,
.freeBox__bv8ID
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bv8ID {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bv8ID > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__kC6Vq {
  font-size: 32px;
  font-weight: 700;
  color: rgb(5, 5, 5) /* plasmic-token: NEon4Y--Z */;
  position: relative;
  text-align: left;
}
.text__fNlfL {
  position: relative;
  text-align: left;
}
.bullet__rrWEl:global(.__wab_instance) {
  position: relative;
}
.bullet__gCyWf:global(.__wab_instance) {
  position: relative;
}
.bullet__cHwf:global(.__wab_instance) {
  position: relative;
}
.text___76IHj {
  position: relative;
  text-align: left;
}
.freeBox___5Yf24 {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox___5Yf24 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___5Yf24 > :global(.__wab_flex-container) > *,
.freeBox___5Yf24 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Yf24 > :global(.__wab_flex-container) > picture > img,
.freeBox___5Yf24
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Yf24 {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Yf24 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Yf24 > :global(.__wab_flex-container) > *,
  .freeBox___5Yf24 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___5Yf24 > :global(.__wab_flex-container) > picture > img,
  .freeBox___5Yf24
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__fgpkG:global(.__wab_instance) {
  position: relative;
}
.svg__xLcb7 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__qgjk4 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__hca1N:global(.__wab_instance) {
  position: relative;
}
.svg__cjOi0 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__hsSf9 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
